export AGHRI_DATASET_ROOT="/media/prabuddhi/Backup2/Updated Dataset_PW"
export AGHRI_VIDEO_ROOT="/media/prabuddhi/Backup2/AGHRI_OCLReID_Videos"
export OCLREID_RESULTS_ROOT="/home/prabuddhi/Desktop/OCLReID/results/reproduced_runs"
export REID_CHECKPOINT="/home/prabuddhi/Desktop/OCLReID/checkpoints/reid/resnet18.pth"
export CONDA_ENV_NAME="oclreid"
